---
import Header from "../components/Header.astro";
const {bg = '/assets/img/bg.webp', fog = true, title = null} = Astro.props;

const titleCalculated = (title !== null ? title : "Historias Interactivas con tus fotografías") + " | spookytales.com.es";
const description = "Adéntrate en un mundo de misterio. Sube una fotografía tuya y transforma tu destino en una experiencia de terror única.";
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{titleCalculated}</title>

    <meta name="title" content={titleCalculated} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <meta name="google-adsense-account" content="ca-pub-9406276311201724">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={titleCalculated} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL('/assets/img/spookytales.webp', Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={titleCalculated} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL('/assets/img/spookytales.webp', Astro.url)} />

    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />

    <style is:global>

        .character {
            filter: contrast(1.6) brightness(.9) grayscale(.6);
        }

        @font-face {
            font-family: 'Nosifer';
            src: url('/assets/fonts/Nosifer-Regular.ttf') format('truetype');
        }
        @font-face {
            font-family: 'Creepster';
            src: url('/assets/fonts/Creepster-Regular.ttf') format('truetype');
        }
        @font-face {
            font-family: 'Teko';
            src: url('/assets/fonts/Teko-VariableFont_wght.ttf') format('truetype');
        }
        @font-face {
            font-family: 'Edu AU VIC WA NT Guides';
            src: url('/assets/fonts/EduAUVICWANTGuides-Regular.ttf') format('truetype');
        }
        .nosifer {
            font-family: 'Nosifer', sans-serif;
        }
        .creepster {
            font-family: 'Creepster', sans-serif;
        }
        .edu {
            font-family: 'Edu AU VIC WA NT Guides', sans-serif;
        }
        .teko {
            font-family: 'Teko', sans-serif;
        }

        .fog {
            background: radial-gradient(circle, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.8) 100%);
            animation: moveFog 50s infinite alternate;
        }

        .fog-slow {
            background: radial-gradient(circle, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.8) 100%);
            animation: moveFog 70s infinite alternate;
        }

        @keyframes moveFog {
            from {
                background-position: 0 0;
            }
            to {
                background-position: 50% 50%;
            }
        }



        .glow-text-stop {
            text-shadow: 0 0 20px rgb(132, 0, 255);
        }
    </style>

</head>
<body class=`bg-gray-900 text-white font-sans min-h-screen flex flex-col items-center justify-center ${fog ? 'fog' : ''}` style=`background-image: url(${bg}); background-repeat: no-repeat; background-size: cover;"`>
<div class=`relative flex flex-col w-full h-screen text-center bg-cover bg-center ${fog ? 'bg-purple-950/60 backdrop-blur-sm' : ''}`>
    <Header/>
    <main class="w-full h-full flex flex-col justify-center items-center overflow-y-scroll">
            <slot/>
        </main>
    </div>
</body>
</html>
